version: "3.8"

services:
  abandonedpets-fe:
    container_name: abandonedpets-frontend
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ".:/app"
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
      - TZ=Asia/Seoul
